# TODO (OSS): change [project]`, `[dependency-groups]`,
# `[project.urls]`, and `[tool.hatch.build.targets.wheel]
# According to your needs.

[project]
name = "representation-learning"
version = "1.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.11,<3.13"

dependencies = [
  "cloudpathlib>=0.21.0",
  "google-cloud-storage>=3.1.0",
  "joblib>=1.4.2",
  "mlflow>=2.22.0",
  "numpy==1.26.4",
  "pandas>=2.2.3",
  "pydantic>=2.11.3",
  "pysoundfile>=0.9.0.post1",
  "pyyaml>=6.0.2",
  "soundfile>=0.13.1",
  "torch==2.2.1",
  "torchaudio>=2.2.0",
  "torchvision>=0.17.0",
  "tqdm>=4.67.1",
  "transformers>=4.51.3",
]

[dependency-groups]

dev = [
  "pre-commit<=4.2.0",
  "pytest<=7.4.0",
  "ruff<=0.11.2",
  "click<=8.1.7",
  "isort<=5.13.2",
  "pytest<=7.4.0",
  "yamllint<=1.35.1",
]

[project.urls]
Homepage = "https://github.com/earthspecies/representation-learning"
Repository = "https://github.com/earthspecies/representation-learning"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["representation_learning", "esp_data"]

[tool.pytest.ini_options]
python_files = [
    "test_*.py",
    "check_*.py",
]

[tool.ruff]
line-length = 88
indent-width = 4

[tool.ruff.lint]
# List of plugins and Rules
# Pycodestyle all errors and warning, Pydoclint, Pyflakes, bugbear, annotations
select = ["E4", "E7", "E9", "F"] # Default rules
extend-select = ["DOC", "B9", "B", "E", "W", "ANN"]
fixable = ["ALL"]
unfixable = []
preview = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-line-length = "dynamic"

[tool.ruff.lint.mccabe]
# Flag errors (`C901`) whenever the complexity level exceeds 10.
max-complexity = 10

[tool.codespell]
skip = "*.csv"

[tool.isort]
profile = "black"
line_length = 80
filter_files = true
