# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/benchmark_single.yml

training_params:
  train_epochs: 900
  lr: 0.001
  batch_size: 64
  optimizer: adamw
  weight_decay: 0.01
  amp: false
  amp_dtype: bf16


# Which experiments to evaluate
# TODO: all checkpoints to be gs paths and uploaded during train
experiments:

  - run_name: efficientnet_sft_pretrained
    run_config: configs/run_configs/efficientnet_base_beans.yml
    ### which layers to probe for embeddings
    layers: model.avgpool
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: true
    frozen: false

# Where to save the evaluation results
save_dir: evaluation_results/sft

device: cuda

seed: 42

num_workers: 8  # Enable workers for better memory management

# Evaluation phases
eval_modes:
  - probe

overwrite_embeddings: false
