# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/benchmark_base.yml

training_params:
  train_epochs: 20
  lr: 0.00005
  batch_size: 32
  optimizer: adamw
  weight_decay: 0.01
  amp: false
  amp_dtype: bf16


# Which experiments to evaluate
#TODO: all checkpoints to be gs paths and uploaded during train
experiments:
  - run_name: efficientnet_base_loaded
    run_config: configs/run_configs/efficientnet_base.yml
    ### which layers to probe for embeddings
    layers: model.avgpool
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: false
    checkpoint_path: runs/efficientnet_single_15_05/checkpoints/checkpoint_epoch_024.pt

  # - run_name: eat_pretrain
  #   run_config: configs/run_configs/eat_pretrain.yml
  #   ### which layers to probe for embeddings
  #   layers: last_layer
  #   ### whether to use pretrained model or the one we train on bioacoustic data
  #   pretrained: true
  #   # checkpoint_path: runs/eat_pretrain/checkpoints/checkpoint_epoch_030.pt

  # - run_name: clap
  #   run_config: configs/run_configs/clip_base.yml
  #   ### which layers to probe for embeddings
  #   layers: audio_projection
  #   ### whether to use pretrained model or the one we train on bioacoustic data
  #   pretrained: false
  #   checkpoint_path: runs/clip_baseline_13_05/checkpoints/checkpoint_epoch_050.pt

  # - run_name: resnet152
  #   run_config: configs/run_configs/resnet152_base.yml
  #   ### which layers to probe for embeddings
  #   layers: backbone.fc
  #   ### whether to use pretrained model or the one we train on bioacoustic data
  #   pretrained: true
  #   # checkpoint_path: runs/resnet18_baseline_19_05/checkpoints/checkpoint_epoch_045.pt

# Where to save the evaluation results
save_dir: evaluation_results

device: cuda

seed: 42

num_workers: 8  # Enable workers for better memory management

# Whether to freeze the backbone (train only the linear probe)
frozen: false
probe: false
