# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/benchmark_debug.yml

training_params:
  train_epochs: 700
  lr: 0.0007
  batch_size: 32
  optimizer: adamw
  weight_decay: 0.01
  amp: false
  amp_dtype: bf16

# Which experiments to evaluate
experiments:
  - run_name: efficientnet_all
    run_config: configs/run_configs/aaai_train/sl_efficientnet_animalspeak_audioset.yml
    ### which layers to probe for embeddings
    layers: model.avgpool
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: false
    checkpoint_path: runs/aaai/sl_efficientnet_animalspeak_audioset/2025-07-11_11-42-34/checkpoint_epoch_028.pt

# Where to save the evaluation results
save_dir: evaluation_results/aaai/efficientnet_all

# Optional: Append results to a global CSV file for cross-model comparison
results_csv_path: evaluation_results/all_models_results.csv

device: cuda

seed: 42

num_workers: 8  # Enable workers for better memory management

# Evaluation phases
eval_modes:
  # - linear_probe
  - retrieval
  - clustering

overwrite_embeddings: true
