# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/benchmark_originals.yml

training_params:
  train_epochs: 900
  lr: 0.001
  batch_size: 32
  optimizer: adamw
  weight_decay: 0.01
  amp: false
  amp_dtype: bf16

# Which experiments to evaluate
experiments:
  - run_name: birdmae_huge
    run_config: configs/run_configs/pretrained/birdmae_huge.yml
    ### which layers to probe for embeddings
    layers: last_layer
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: true
    frozen: true

# Where to save the evaluation results
save_dir: evaluation_results/birdmae

# Optional: Append results to a global CSV file for cross-model comparison
results_csv_path: evaluation_results/all_models_results.csv

device: cuda

seed: 42

num_workers: 18

# Evaluation phases
eval_modes:
  - probe
  - retrieval
  - clustering

overwrite_embeddings: true
