# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/benchmark.yml

training_params:
  train_epochs: 900
  lr: 0.001
  batch_size: 32
  optimizer: adamw
  weight_decay: 0.01
  amp: true
  amp_dtype: bf16

# Which experiments to evaluate
experiments:
  - run_name: sl_eat_animalspeak_ssl_all
    run_config: configs/run_configs/aaai_train/ssl_eat_all.yml
    probe_config:
      type: linear
      target_layers: ["backbone"]
      aggregation: "mean"
      input_processing: "pooled"
      freeze_backbone: true
      online_training: false
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: false
    checkpoint_path: gs://representation-learning/models/sl_eat_animalspeak_ssl_all.pt

# Where to save the evaluation results
save_dir: evaluation_results/aaai/sl_eat_animalspeak_ssl_all

# Optional: Append results to a global CSV file for cross-model comparison
results_csv_path: evaluation_results/all_models_results.csv

device: cuda

seed: 42

num_workers: 12  # Enable workers for better memory management

# Evaluation phases
eval_modes:
  - probe
  - retrieval
  - clustering

overwrite_embeddings: true
