# On which datasets to run the evaluation and which metrics to use
dataset_config: configs/data_configs/individual_id_h100.yml
# dataset_config: configs/data_configs/benchmark_id_repertoire_with_clustering.yml

training_params:
  train_epochs: 900
  lr: 0.001
  batch_size: 32
  optimizer: adamw
  weight_decay: 0.01
  amp: false
  amp_dtype: bf16

# Which experiments to evaluate
experiments:
  - run_name: efficientnet_animalspeak_soundscape
    run_config: configs/run_configs/aaai_train/sl_efficientnet_animalspeak_audioset.yml
    ### which layers to probe for embeddings
    layers: model.avgpool
    ### whether to use pretrained model or the one we train on bioacoustic data
    pretrained: false
    checkpoint_path: gs://representation-learning/models/sl_efficientnet_animalspeak_soundscape.pt

# Where to save the evaluation results
save_dir: evaluation_results/aaai/efficientnet_animalspeak_soundscape

# Optional: Append results to a global CSV file for cross-model comparison
results_csv_path: evaluation_results/all_models_results.csv

device: cuda

seed: 42

num_workers: 18  # Enable workers for better memory management

# Evaluation phases
eval_modes:
  # - linear_probe
  - retrieval
  - clustering

overwrite_embeddings: true
