name: Build and Publish Package (Test)

on:    # yamllint disable-line rule:truthy
  workflow_dispatch:

jobs:
  build-and-publish-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync

      - name: Build the package
        run: uv build

      - name: Publish to TestPyPI
        run: uv publish --publish-url https://test.pypi.org/legacy/ --trusted-publishing
